.darkmode {
    background-color: darken($grisOscuro, 5);
    h1, h2, h3, h4 {
        color: $blanco;
    }
    .card, p {
        color: black;
    }
    .icono {
        h3 {
            color: black;
        }
    }
    .anuncio {
        background-color: $grisOscuro;
        .descripcion {
            color: white;
        }
    }
    .iconos__caracteristicas {
        li {
            img {
                filter: invert(100%);
            }
        }
    }
    form {
        color: $blanco;
    }
    .texto-entrada {
        h4, p, span, a {
            color: black!important;
        }
    }
    .contacto {
        p {
            color: white;
        }
    }
    nav {
        .logo {
            p, span {
                color: white;
            }
        }
        ul {
            li {
                a {
                    color: white;
                }
            }
        }
    }
    .dark-mode-button {
        filter: invert(100%);
        transition: all 1s;
    }
}

