footer {
    width: 95%;
    margin: auto;
    border-radius: 3.4vh;
    background-color: $grisOscuro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    p {
        margin-bottom: 3rem;
        color: $blanco!important;
    }
    @include telefono {
        ul {
            display: none;
        }
    }
}

