  
.testimonial {
    background-color: darken($verde, 5);
    border-radius: 3rem;
    color: $blanco;
    font-size: 2rem;
    padding: 2rem;
    height: 60vh;
    width: 50vh;
    blockquote {
        padding-left: 10vh;
        position: relative;
        font-size: 2.8vh;
        &::before {
            position: absolute;
            transform: translateX(-8vh);
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            height: 8vh;
            width: 6vh;
            display: block;
        }
    }
    p {
        color: $blanco;
        text-align: right;
        font-style: italic;
        font-size: 2.8vh;
    }
}